body {
  font-size: 1.5em;
  font-family: 'Poiret One', cursive;
  letter-spacing: 5px;
  background-color: #FFF;
}
body header {
  text-align: center;
  height: 120px;
  background-color: #FFC778;
}
body header img {
  padding-top: 25px;
  max-width: 70%;
}
body main {
  padding-top: 60px;
}

body main#ticket {
  background: url("../css/img/bigtick.png") no-repeat center top;
  background-position: 50% 25%;
  background-color: #9BCD9B;
  min-height: 500px;
  text-align: center;
  padding-top: 200px;
  font-size: 3em;
  color: #FFFFFF;
}

#ticket fieldset {
  width: 90%;
  margin: 0 auto;
}

body main .sign-in {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-content: center;
  align-content: center;
  padding: 20px;
  border: solid 1px;
  border-radius: 10px;
  border-color: #acacac;
  width: 70%;
  margin: 30px auto;
}
body main .sign-in li {
  padding: 10px 0;
  margin: 10px 0;
  font-size: 0.8em;
  text-transform: lowercase;
}
body main .sign-in input#sign-in-submit,
body main .sign-in input#sign-up-submit {
  padding: 10px 20px !important;
  font-size: 20px;
  background-color: #E49191;
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 10px;
}
body main#bar section {
  padding: 20px;
  border: solid 1px;
  border-radius: 10px;
  border-color: #acacac;
  width: 70%;
  margin: 30px auto;
}
<<<<<<< HEAD
body main#menu {
  margin: 0 auto;
}
body main#menu .container {
  width: 70%;
}
body main#menu .container:nth-child(1) {
  margin-bottom: 40px;
}
body main#menu #welcome {
  text-align: center;
  height: 30px;
}
body main#menu .ib {
  display: inline;
  padding: 0 !important;
}
body main#menu section:nth-child(3) {
  text-align: center;
  margin-top: 40px;
}
body main#menu section:nth-child(1) h2,
body main#menu section:nth-child(1) div {
  display: inline;
  padding: 0;
}
body main#menu section:nth-child(1) div:nth-child(2) {
  text-align: center;
}
body main#menu ul {
  width: 70%;
  padding: 30px;
  margin: 0 auto;
}
=======
 body main#menu {
  margin: 0 auto;
}
body main#menu .container {
  width: 70%;
}
body main#menu .container:nth-child(1) {
  margin-bottom: 40px;
}
body main#menu #welcome {
  text-align: center;
  height: 30px;
}
body main#menu .ib {
  display: inline;
  padding: 0 !important;
}
body main#menu section:nth-child(3) {
  text-align: center;
  margin-top: 40px;
}
body main#menu section:nth-child(1) h2,
body main#menu section:nth-child(1) div {
  display: inline;
  padding: 0;
}
body main#menu section:nth-child(1) div:nth-child(2) {
  text-align: center;
}
body main#menu ul {
   width: 70%;
  padding: 30px;
 margin: 0 auto;
}
>>>>>>> 790a4453eacebd0f6a230e4242c1308f6d63aa9a
body main#menu ul li section:nth-child(2),
body main#menu ul li section:nth-child(1) {
  text-align: center;
}
body main#menu .button {
  border-radius: 10px;
  background-color: #33A4A8;
  padding: 10px 20px;
}
body main#menu a[href="/signout"] {
  background-color: #E49191;
}
body main#menu .full-width {
  width: 100%;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #FFC778;
}
body main#menu .full-width p {
  display: inline;
}
body main#menu div:nth-child(3) section {
  margin-top: 50px;
  text-align: center;
}
body main#menu #increment img {
  max-width: 100%;
}
body main#menu .hidden {
  display: hidden;
}

@media (max-width: 800px) {
  body main#menu .container {
    width: 100%;
  }

  #welcome {
    margin-bottom: 30px;
  }

  .ib {
    margin-bottom: 20px;
<<<<<<< HEAD
  }
=======
 }
>>>>>>> 790a4453eacebd0f6a230e4242c1308f6d63aa9a
}

/*# sourceMappingURL=style.css.map */
