<!DOCTYPE html>
<html ng-app="beerPromise">
  <head>
    <title>Beer Promise</title>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/grid.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/pusher/dist/pusher.min.js"></script>
    <script type="text/javascript" src="components/pusher-angular/lib/pusher-angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body ng-controller="BeerPromiseController as beerCtrl">
    <header>

       
      <img src="css/img/logo.png" />

    </header>

    <main id="menu">
      
      <div class="container">  
        <section class="row clearfix">
          <div class="col-xs-12 clearfix">
            <div id="welcome" class="col-xs-12 col-sm-6 clearfix">
              <h2>Welcome, {{beerCtrl.id}}</h2>
            </div>  
            <div class="col-xs-12 col-sm-6">
              <a class="button" href="/signout">Log Out</a>
            </div>
          </div>  
        </section>
      </div>
      <div class="full-width">  
        <ul class="row clearfix">
          <li class="col-xs-12 clearfix"> 
            <section class="col-xs-12 col-sm-6 ib">
              <h2>BEER</h2>
            </section>
            <section class="col-xs-12 col-sm-6 ib">
              <a href="#" id="increment" ng-click="beerCtrl.addBeer()"><img src="css/img/add.png" /></a>
              <p>{{beerCtrl.beerCount}}</p>
              <a href="#" id="decrement" ng-click="beerCtrl.removeBeer()"><img src="css/img/minus.png" /></a>
            </section>
          </li>
        </ul>
      </div>
      <div class="container">  
        <section class="row clearfix">
          <a class="button" href="#" ng-click="beerCtrl.placeOrder()">Place Order</a>
        </section>
      </div>  

    </main>

  </body>

</html>
