body{
  font-size: 1.5em;
  font-family: 'Poiret One', cursive;
  letter-spacing: 5px;
  background-color: #FFF;
<<<<<<< HEAD
  
=======

>>>>>>> 790a4453eacebd0f6a230e4242c1308f6d63aa9a
  header{
    text-align: center;
    height: 120px;
    background-color: #FFC778;
    img{
      padding-top: 25px;
      max-width: 70%;
    }
  }

  main{
    padding-top: 60px;
      .sign-in{
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-align-content: center;
        align-content: center;
        padding: 20px;
        border: solid 1px;
        border-radius: 10px;
        border-color: #acacac;
        width: 70%;
        margin: 30px auto;
        li{
          padding: 10px 0;
          margin: 10px 0;
          font-size: 0.8em;
          text-transform: lowercase;
        }

        input#sign-in-submit,
        input#sign-up-submit{
          padding: 10px 20px !important;
          font-size: 20px;
          background-color: #E49191;
          border: none;
          font-family: inherit;
          cursor: pointer;
          border-radius: 10px;
        }
      }
  }

<<<<<<< HEAD
  main#bar{
    section{
      padding: 20px;
      border: solid 1px;
      border-radius: 10px;
      border-color: #acacac;
      width: 70%;
      margin: 30px auto;   
    }
  }
=======
main#bar{
  section{
    padding: 20px;
    border: solid 1px;
    border-radius: 10px;
    border-color: #acacac;
    width: 70%;
    margin: 30px auto;
     }
   }
>>>>>>> 790a4453eacebd0f6a230e4242c1308f6d63aa9a

  main#menu{
    .container{
      width: 70%;
    }
    .container:nth-child(1){
      margin-bottom: 40px;
    }
    #welcome{
      text-align: center;
      height: 30px;
    }
    margin: 0 auto;
    .ib{
      display: inline;
      padding: 0 !important;
    }
    section:nth-child(3){
      text-align: center;
      margin-top: 40px;
    }
    section:nth-child(1) h2,
    section:nth-child(1) div{
      display: inline;
      padding: 0;
    }
    section:nth-child(1) div:nth-child(2){
      text-align: center;
    }
    ul{
      width: 70%;
      padding: 30px;
      margin: 0 auto;
      li section:nth-child(2),
      li section:nth-child(1){
        text-align: center;
      }
<<<<<<< HEAD
    }  
=======
    }
>>>>>>> 790a4453eacebd0f6a230e4242c1308f6d63aa9a
    .button{
      border-radius: 10px;
      background-color: #33A4A8;
      padding: 10px 20px;
    }
    a[href="/signout"]{
      background-color: #E49191;
    }
    .full-width{
      width: 100%;
      border-top: solid 1px;
      border-bottom: solid 1px;
      border-color: #FFC778;
      p{
        display: inline;
<<<<<<< HEAD
      }  
=======
      }
>>>>>>> 790a4453eacebd0f6a230e4242c1308f6d63aa9a
    }
    div:nth-child(3) section{
      margin-top: 50px;
      text-align: center;
    }
    #increment{
      img{
        max-width: 100%;
      }
    }
    .hidden{
      display: hidden;
    }
<<<<<<< HEAD
    
  }
=======
>>>>>>> 790a4453eacebd0f6a230e4242c1308f6d63aa9a

}

@media(max-width: 800px){
  body main#menu{
    .container{
      width: 100%;
<<<<<<< HEAD
    }  
=======
    }
>>>>>>> 790a4453eacebd0f6a230e4242c1308f6d63aa9a
  }
  #welcome{
    margin-bottom: 30px;
  }

<<<<<<< HEAD
  .ib{
    margin-bottom: 20px;
  }
=======


  .ib{
    margin-bottom: 20px;
  }


>>>>>>> 790a4453eacebd0f6a230e4242c1308f6d63aa9a

}

